In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Victoria,HK,2022-07-13 21:54:47,22.2855,114.1577,85.17,87,47,1.01
1,1,Khatanga,RU,2022-07-13 21:56:18,71.9667,102.5000,43.59,82,100,8.84
2,2,Rikitea,PF,2022-07-13 21:56:18,-23.1203,-134.9692,72.79,79,89,9.26
3,3,Alofi,NU,2022-07-13 21:56:19,-19.0595,-169.9187,80.49,69,46,16.11
4,4,Ushuaia,AR,2022-07-13 21:51:59,-54.8000,-68.3000,35.26,64,75,5.75

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of Cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Victoria,HK,2022-07-13 21:54:47,22.2855,114.1577,85.17,87,47,1.01
1,1,Khatanga,RU,2022-07-13 21:56:18,71.9667,102.5000,43.59,82,100,8.84
2,2,Rikitea,PF,2022-07-13 21:56:18,-23.1203,-134.9692,72.79,79,89,9.26
3,3,Alofi,NU,2022-07-13 21:56:19,-19.0595,-169.9187,80.49,69,46,16.11
4,4,Ushuaia,AR,2022-07-13 21:51:59,-54.8000,-68.3000,35.26,64,75,5.75

In [11]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 80

In [12]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
10,10,Broome,US,2022-07-13 21:56:20,42.2506,-75.8330,76.64,74,26,3.00
13,13,Puerto Ayora,EC,2022-07-13 21:56:21,-0.7393,-90.3518,75.16,85,43,4.00
18,18,Bac Lieu,VN,2022-07-13 21:56:23,9.2850,105.7244,75.22,94,100,8.66
21,21,Galesong,ID,2022-07-13 21:56:24,-5.3166,119.3661,75.22,88,99,9.31
38,38,Bandarbeyla,SO,2022-07-13 21:56:28,9.4942,50.8122,76.35,84,74,29.93
40,40,Atuona,PF,2022-07-13 21:56:29,-9.8000,-139.0333,78.13,73,26,19.04
49,49,Pacific Grove,US,2022-07-13 21:53:27,36.6177,-121.9166,77.38,69,0,9.22
63,63,Benton Harbor,US,2022-07-13 21:54:52,42.1167,-86.4542,76.32,77,75,9.22
64,64,Jamestown,US,2022-07-13 21:57:34,42.0970,-79.2353,75.02,58,24,1.99
66,66,Meulaboh,ID,2022-07-13 21:57:35,4.1363,96.1285,76.42,90,85,6.46

In [13]:
preferred_cities_df.count()

City_ID       94
City          94
Country       94
Date          94
Lat           94
Lng           94
Max Temp      94
Humidity      94
Cloudiness    94
Wind Speed    94
dtype: int64

In [14]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
10         Broome      US     76.64  42.2506  -75.8330
13   Puerto Ayora      EC     75.16  -0.7393  -90.3518
18       Bac Lieu      VN     75.22   9.2850  105.7244
21       Galesong      ID     75.22  -5.3166  119.3661
38    Bandarbeyla      SO     76.35   9.4942   50.8122
40         Atuona      PF     78.13  -9.8000 -139.0333
49  Pacific Grove      US     77.38  36.6177 -121.9166
63  Benton Harbor      US     76.32  42.1167  -86.4542
64      Jamestown      US     75.02  42.0970  -79.2353
66       Meulaboh      ID     76.42   4.1363   96.1285

In [15]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [16]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
# Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [17]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
10,Broome,US,76.64,42.2506,-75.8330,Chenango Valley State Park
13,Puerto Ayora,EC,75.16,-0.7393,-90.3518,Finch Bay Galapagos Hotel
18,Bac Lieu,VN,75.22,9.2850,105.7244,Khách sạn Sài Gòn Bạc Liêu
21,Galesong,ID,75.22,-5.3166,119.3661,Sapriadi Appy
38,Bandarbeyla,SO,76.35,9.4942,50.8122,JABIR HOTEL
...,...,...,...,...,...,...
518,Tagusao,PH,78.87,9.1924,117.8141,Caycay future beach resort
523,Thiruvananthapuram,IN,78.78,8.4833,76.9167,Hotel Residency Tower
540,San Cristobal,VE,78.98,7.7669,-72.2250,Pirineos
542,Cayenne,GF,78.84,4.9333,-52.3333,Hôtel Le Dronmi
549,Naze,JP,79.72,28.3667,129.4833,Shishime Hotel

In [18]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)


# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [21]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [22]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))